body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}


a:hover {
    color: #2b7a2b;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: banner;
}

.banner img {
    width: 100%;
    border-radius: 10px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

}

.info h1 {
    font-size: 2.5rem;
    color: #2D3A3C;
    border-radius: 5px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.info p {
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.info li {
    margin: 0 15px;
    font-style: none;
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

p {
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0px;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: #2b7a2b;
    text-decoration-line: underline overline;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.reproductor {
    border-radius: 10px;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: #2D3A3C;
}

label {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

button {
    background-color: #2b7a2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
}

button:hover {
    background-color: #224710;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d7ecaf;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}

footer p {
    color: #2D3A3C;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
}

footer .redes {
    margin-top: 10px;
}

.redes img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.redes img:hover {
    transform: scale(1.2);
}

/* RESPONSIVE */

/* Escritorio (min-width: 1200px */
@media screen and (min-width: 1200px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Tablet (768px a 1199px) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Movil max-width: 767px */
@media screen and (max-width: 767px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        grid-template-columns: 1fr;
    }

    .contacto {
        grid-template-columns: 1fr;
    }

    form {
        grid-template-columns: 1fr;
    }

    .banner {
        padding: 10px;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1rem;
    }

    .info ul {
        padding: 10px;
    }

    .info li {
        margin: 0 10px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .galeria img {
        width: 100%;
    }

    .video {
        padding: 10px;
    }

    .contacto {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    label {
        font-size: 1rem;
    }

    button {
        padding: 10px 15px;
    }

    footer p {
        font-size: 0.8rem;
    }

    .redes img {
        width: 20px;
        height: 20px;
    }
}